{% load static %}
<div class="relative w-full">
    <input
        type="password"
        name="{{ field.name }}"
        id="{{ field.id_for_label }}"
        value="{{ field.value|default:'' }}"
        class="w-full p-[12px] pr-12 rounded-[12px] bg-gray-100 focus:bg-white focus:outline-none focus:ring-2 focus:ring-red-400 transition"
        placeholder="{{ field.field.widget.attrs.placeholder }}"
    >

    <button
        type="button"
        class="absolute right-3 top-1/2 -translate-y-1/2 flex items-center cursor-pointer"
        onclick="togglePassword('{{ field.id_for_label }}', this)"
    >
        <img class="closed-eye w-6 h-6 " src="{% static 'icons/eye-closed.svg' %}" alt="Fechar olhos">
        <img class="open-eye hidden w-6 h-6" src="{% static 'icons/eye-open.svg' %}" alt="Abrir olhos">
    </button>
</div>