{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}AlertaSeguro{% endblock %}</title>

    {% block meta %}
    
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% block content %}
{% endblock %}

{% block js %}

<script src="{% static 'js/admin.js' %}"></script>    
<script src="{% static 'js/menulateral.js' %}"></script>
<script src="{% static 'js/sub-menu.js' %}"></script>

{% endblock %}

</body>
</html>