{% extends "base.html" %}
{% load static %}

{% block title %}Informações - AlertaSeguro{% endblock %}

{% block body_class %}m-0 p-0 bg-gray-100 font-sans caret-transparent{% endblock %}

{% block content %}

{% include "components/header.html" %}
{% include "components/menulateral.html" %}

<div class="mt-[120px] w-full flex flex-col items-center gap-[30px]">
    <div class="bg-[#ffffffcc] w-[650px] p-[30px] rounded-[25px] shadow-[0_4px_10px_rgba(0,0,0,0.2)]">

        <h1 class="text-[30px] text-white px-[10px] py-[10px] rounded-[15px] text-center mt-[1px] mb-[30px] bg-gradient-to-r from-[#ff0000] to-[#b60000]">Informações</h1>
<!--        <p class="text-[18px] text-gray-700 mb-[30px]">Tem alguma sugestão ou encontrou um bug? Envie-nos a sua opinião!</p>-->
        
        <h1 class="text-[32px] mb-[10px] text-[#9c1717] text-center">De onde vem a informação?</h1>
        <p class="text-[18px] text-gray-700 mb-[30px]">A informação é recolhida através de fontes públicas, como redes sociais, fóruns e sites de notícias. Utilizamos técnicas avançadas de processamento de linguagem natural para analisar os dados e identificar potenciais ameaças.</p>
        
        <h1 class="text-[32px] mb-[10px] text-[#9c1717] text-center">Grau de ameaça</h1>
        <p class="text-[18px] text-gray-700 mb-[35px]">O grau de ameaça é determinado com base na análise dos dados recolhidos, considerando fatores como a gravidade do incidente, a probabilidade de ocorrência e o impacto potencial.</p>
        
        <h2 class="text-[20px] mb-[10px] text-[#9c1717] text-center">Níveis</h2>
        <ul class="text-[18px] text-gray-700 mb-[30px] list-disc list-inside text-center">
            <li>1 – Muito Baixo</li>
            <li>2 – Baixo</li>
            <li>3 – Moderado</li>
            <li>4 – Elevado</li>
            <li>5 – Extremo</li>
        </ul>
    </div>
    <div class="bg-[#ffffffcc] w-[420px] p-[30px] rounded-[25px] shadow-[0_4px_10px_rgba(0,0,0,0.2)] text-center">

    <h2 class="text-[30px] text-white px-[10px] py-[10px] rounded-[15px] text-center mt-[1px] mb-[35px] bg-gradient-to-r from-[#ff0000] to-[#b60000]">Bugs/Sugestões</h2>

    <form method="POST" class="flex flex-col items-center gap-[15px] w-full">
      {% csrf_token %}

      {% for field in form %}
        <div class="w-full text-left">
          
          <label class="block mb-[5px] text-[14px] font-semibold text-gray-700">
            {{ field.label }}
          </label>

          {{ field }}

          {% if field.errors %}
            <p class="text-red-500 text-sm mt-[3px]">
              {{ field.errors|striptags }}
            </p>
          {% endif %}

        </div>
      {% endfor %}

      <button type="submit"
        class="w-full p-[12px] mt-[15px] text-[18px] rounded-[15px] text-white transition duration-200 bg-[#c62828] hover:scale-105 active:scale-95">
        Enviar
      </button>
    </form>

    {% if form.non_field_errors %}
      <p class="text-red-600 mt-[12px]">
        {{ form.non_field_errors }}
      </p>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/menulateral.js' %}"></script>
{% endblock %}