{% extends "base.html" %}
{% load static %}
{% block title %}AlertaSeguro{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>
{% endblock %}

{% block body_class %}
m-0 p-0 font-sans bg-gray-100 caret-transparent overflow-x-hidden
{% endblock %}

{% block content %}

{% include "components/header.html" %}
{% include "components/menulateral.html" %}

<div id="main-content">
  <div id="incident-overlay" class="fixed inset-0 bg-black/40 hidden z-[1500]"></div>

  <div id="incident-panel"
      class="fixed top-0 left-0 
              w-full h-screen md:w-1/4 md:h-full
              bg-white shadow-xl z-[100001]
              transform -translate-x-full transition-transform duration-300
              flex flex-col overflow-hidden">

      <div class="flex items-center justify-between p-4 border-b text-white
                  bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717]
                  flex-shrink-0">

        <h2 class="font-bold text-lg">Ocorrência</h2>

        <button id="incident-close"
          class="text-xl font-bold cursor-pointer hover:scale-110 transition">
          ⛌
        </button>

      </div>

      <div class="flex-1 overflow-hidden">
        <div id="incident-content"
            class="p-4 text-sm overflow-y-auto h-full">
        </div>
      </div>
    </div>

  <div id="menu-filtros" class="fixed top-[80px] left-[10px] sm:top-[100px] z-[1000]">

    <button id="menu-btn-filtros"
      class="text-white text-[16px] sm:text-[18px] font-bold rounded-[30px] 
            px-[14px] py-[10px] sm:px-[18px] sm:py-[14px]
            cursor-pointer transition duration-300
            bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717] hover:scale-105">
      Filtros
    </button>

    <div id="menu-drop-filtros"
      class="hidden absolute left-0 top-[70px] w-[220px] rounded-[10px] shadow-[0_4px_10px_rgba(0,0,0,0.2)] bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717] text-white">

      <details class="accordion-group border-b border-white/20">
        <summary class="px-4 py-3 font-bold cursor-pointer hover:bg-white/10">
          Risco de incêndio
        </summary>

        <div class="px-4 pb-3 space-y-2">
          <label class="flex items-center gap-2">
            <input type="checkbox" id="toggleRisco0">
            Hoje
          </label>

          <label class="flex items-center gap-2">
            <input type="checkbox" id="toggleRisco1">
            Amanhã
          </label>
        </div>
      </details>

      <details class="accordion-group border-b border-white/20">
        <summary class="px-4 py-3 font-bold cursor-pointer hover:bg-white/10">
          Estado dos incidentes
        </summary>

        <div class="px-4 pb-3 space-y-2">
          <label class="flex items-center gap-2"><input type="checkbox" id="statusCurso" checked> Em Curso</label>
          <label class="flex items-center gap-2"><input type="checkbox" id="statusResolucao" checked> Em Resolução</label>
          <label class="flex items-center gap-2"><input type="checkbox" id="statusAlerta" checked> Despacho de 1º Alerta</label>
          <label class="flex items-center gap-2"><input type="checkbox" id="statusChegada" checked> Chegada ao TO</label>
          <label class="flex items-center gap-2"><input type="checkbox" id="statusConclusao" checked> Em Conclusão</label>
          <label class="flex items-center gap-2"><input type="checkbox" id="statusVigilancia" checked> Vigilância</label>
        </div>
      </details>

      <details class="accordion-group">
        <summary class="px-4 py-3 font-bold cursor-pointer hover:bg-white/10">
          Pontos de Interesse
        </summary>

        <div class="px-4 pb-3 space-y-2">
          <label class="flex items-center gap-2"><input type="checkbox"> Hospitais</label>
          <label class="flex items-center gap-2"><input type="checkbox"> Bombeiros</label>
          <label class="flex items-center gap-2"><input type="checkbox"> Bases Aéreas</label>
        </div>
      </details>

    </div>
  </div>

  <main>
    <div id="map" class="w-screen h-screen"></div>
  </main>

  <button id="menu-btn-layers"
    class="fixed bottom-6 sm:bottom-8 left-4 z-[9999]
          bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717]
          p-3 rounded-full shadow-lg hover:scale-110 transition">

    <img src="{% static 'icons/layers-map.svg' %}"
        class="w-8 h-8 invert brightness-0"
        alt="Layers">
  </button>

  <div id="layers-menu"
      class="hidden fixed bottom-20 left-4 z-[9999]
              bg-white shadow-xl rounded-xl overflow-hidden w-52">

    <button data-layer="road"
            class="w-full px-4 py-3 text-left hover:bg-gray-200">
      🛣️ RoadMap
    </button>

    <button data-layer="claro"
            class="w-full px-4 py-3 text-left hover:bg-gray-200">
      ☀️ Claro
    </button>

    <button data-layer="escuro"
            class="w-full px-4 py-3 text-left hover:bg-gray-200">
      🌙 Escuro
    </button>

    <button data-layer="satelite"
            class="w-full px-4 py-3 text-left hover:bg-gray-200">
      🛰️ Satélite
    </button>

  </div>
</div>

<script>
  window.MUNICIPIOS_URL = "{% static 'municipios.geojson' %}";
</script>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

<script src="{% static 'js/incidentPanel.js' %}"></script>
<script src="{% static 'js/menufiltros.js' %}"></script>
<script type="module" src="{% static 'js/mapa.js' %}"></script>
<script src="{% static 'js/mapa-layers.js' %}"></script>
{% endblock %}