{% extends "base.html" %}
{% load static %}
{% block title %}AlertaSeguro{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>
{% endblock %}

{% block body_class %}
m-0 p-0 font-sans bg-gray-100 caret-transparent
{% endblock %}

{% block content %}

{% include "components/header.html" %}
{% include "components/menulateral.html" %}

<div id="main-content">
  <div id="incident-overlay" class="fixed inset-0 bg-black/40 hidden z-[1500]"></div>

  <div id="incident-panel"
    class="fixed top-0 left-0 h-screen w-1/3 max-w-[420px] bg-white shadow-xl z-[1600]
          transform -translate-x-full transition-transform duration-300 flex flex-col overflow-hidden">

    <div class="flex items-center justify-between p-4 border-b text-white
                bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717]
                flex-shrink-0">

      <h2 class="font-bold text-lg">Ocorrência</h2>

      <button id="incident-close"
        class="text-xl font-bold cursor-pointer hover:scale-110 transition">
        ⛌
      </button>

    </div>

    <div class="flex-1 overflow-hidden">
      
      <div id="incident-content"
          class="p-4 text-sm overflow-y-auto h-full">
      </div>

    </div>
    
  </div>

  <div id="menu-filtros" class="fixed top-[100px] left-[10px] z-[1000]">
    <button id="menu-btn-filtros" class="border-0 text-white text-[18px] font-bold rounded-[30px] px-[18px] py-[14px] cursor-pointer transition duration-300 bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717] hover:scale-105">
      Filtros
    </button>

    <div id="menu-drop-filtros" class="hidden absolute left-0 top-[70px] rounded-[10px] min-w-[220px] shadow-[0_4px_10px_rgba(0,0,0,0.2)] bg-gradient-to-b from-[#b43030] via-[#ff1e00] to-[#9c1717]">

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="toggleMunicipios" class="m-0 scale-110 cursor-pointer">
        <label for="toggleMunicipios" class="text-white font-bold cursor-pointer select-none">Municípios</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="toggleRisco0" class="m-0 scale-110 cursor-pointer">
        <label for="toggleRisco0" class="text-white font-bold cursor-pointer select-none">Risco de incêndio hoje</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="toggleRisco1" class="m-0 scale-110 cursor-pointer">
        <label for="toggleRisco1" class="text-white font-bold cursor-pointer select-none">Risco de incêndio amanhã</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="statusCurso" class="m-0 scale-110 cursor-pointer" checked>
        <label for="statusCurso" class="text-white font-bold cursor-pointer select-none">Em Curso</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="statusResolucao" class="m-0 scale-110 cursor-pointer" checked>
        <label for="statusResolucao" class="text-white font-bold cursor-pointer select-none">Em Resolução</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="statusAlerta" class="m-0 scale-110 cursor-pointer" checked>
        <label for="statusAlerta" class="text-white font-bold cursor-pointer select-none">Despacho de 1º Alerta</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="statusChegada" class="m-0 scale-110 cursor-pointer" checked>
        <label for="statusChegada" class="text-white font-bold cursor-pointer select-none">Chegada ao TO</label>
      </div>

      <div class="flex items-center gap-[10px] px-[20px] py-[12px] cursor-pointer transition hover:bg-[#ffdddd]">
        <input type="checkbox" id="statusConclusao" class="m-0 scale-110 cursor-pointer" checked>
        <label for="statusConclusao" class="text-white font-bold cursor-pointer select-none">Em Conclusão</label>
      </div>
    </div>
  </div>

  <main>
    <div id="map" class="w-screen h-screen"></div>
  </main>
</div>

<script>
  window.MUNICIPIOS_URL = "{% static 'municipios.geojson' %}";
</script>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

<script src="{% static 'js/incidentPanel.js' %}"></script>
<script src="{% static 'js/menulateral.js' %}"></script>
<script src="{% static 'js/menufiltros.js' %}"></script>
<script type="module" src="{% static 'js/mapa.js' %}"></script>
{% endblock %}