{% extends "base.html" %}
{% load static %}

{% block title %}Sobre Nós - AlertaSeguro{% endblock %}

{% block body_class %}m-0 p-0 bg-gray-100 font-sans caret-transparent{% endblock %}

{% block content %}

{% include "components/header.html" %}

{% include "components/menulateral.html" %}

<main class="mt-[80px] sm:mt-[100px] mx-auto w-full px-4 text-center">

  <div class="flex gap-[40px] justify-center max-[1000px]:flex-col max-[1000px]:items-center">

    <div class="bg-[#ffffffcc] rounded-[20px] shadow-[0_4px_10px_rgba(0,0,0,0.1)] p-[30px] w-full max-w-[580px] max-[1000px]:w-[90%]">

      <h3 class="text-[30px] text-white px-[10px] py-[10px] rounded-[15px] text-center mt-[1px] mb-[35px] bg-gradient-to-r from-[#ff0000] to-[#b60000]">
        Sobre nós
      </h3>

      <img src="{% static 'imagens/logoPreto.png' %}" alt="Logo" class="w-[250px] md:w-[350px] h-auto mx-auto mb-[90px] mt-[90px]">

      <p class="text-[16px] md:text-[18px] text-black text-left mt-[16px]">
        Este site foi criado com o propósito de ajudar as pessoas com o acesso a informação delicada...
      </p>

      <p class="text-[16px] md:text-[18px] text-black text-left mt-[16px]">
        Sobre os dados:
      </p>

      <ul class="list-disc pl-[20px] md:pl-[24px]">
        <li class="text-[14px] md:text-[16px] text-black text-left">
          Os dados são retirados da ANEPC, IPMA, Acidentes ativos e outros dados públicos.
        </li>
        <li class="text-[14px] md:text-[16px] text-black text-left">
          A localização não é exata, é aproximada.
        </li>
      </ul>

      <p class="text-[16px] md:text-[18px] text-black text-left mt-[16px]">
        Caso tenha <a href="{% url 'feedback' %}" class="text-red-500 hover:underline cursor-pointer">sugestões ou bugs</a> contacte:
      </p>

      <ul class="list-disc pl-[20px] md:pl-[24px]">
        <li class="text-[14px] md:text-[16px] text-black text-left">
          Email: 5477@eclisboa.net
        </li>
        <li class="text-[14px] md:text-[16px] text-black text-left">
          Ou preencha o formulário de <a href="{% url 'feedback' %}" class="text-red-500 hover:underline cursor-pointer">Feedback</a>.
        </li>
      </ul>

      <p class="text-[16px] md:text-[18px] text-black text-left mt-[16px]">
        Para mais <a href="{% url 'informacao' %}" class="hover:underline cursor-pointer">informação</a> va a <a href="{% url 'informacao' %}" class="text-red-500 hover:underline cursor-pointer">Informação</a> 
      </p>
    </div>
  </div>

</main>

{% endblock %}
