{% extends "base.html" %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block body_class %}m-0 p-0 bg-gray-100 font-sans{% endblock %}

{% block content %}

{% include "components/header.html" %} 
{% include "components/menulateral.html" %}

<div class="mt-[80px] sm:mt-[100px] w-full flex justify-center px-4">

  <div class="bg-[#ffffffcc] w-full max-w-[500px] p-[20px] md:p-[30px] rounded-[25px] shadow-[0_4px_10px_rgba(0,0,0,0.2)]">

    <h2 class="text-[#9c1717] text-[24px] md:text-[28px] font-bold mb-[20px] text-center">
      Editar Perfil
    </h2>

    <form method="POST" class="flex flex-col gap-[12px]">
      {% csrf_token %}
      {% for field in form %}
        {% if field.name == "password_atual" and not user.has_usable_password %}
          
        {% else %}

          <div class="w-full text-left">
            
            <label class="block mb-[5px] text-[14px] font-semibold text-gray-700">
              {{ field.label }}
            </label>

            {% if field.field.widget.input_type == "password" %}

              {% include "components/password.html" with field=field %}

            {% else %}
              {{ field }}
            {% endif %}

            {% if field.errors %}
              <p class="text-red-500 text-sm mt-[3px]">
                {{ field.errors|striptags }}
              </p>
            {% endif %}

          </div>

        {% endif %}

      {% endfor %}

      {% if form.non_field_errors %}
        <p class="text-red-500 text-sm">
          {{ form.non_field_errors }}
        </p>
      {% endif %}

      <div class="flex flex-col gap-[12px] mt-[10px]">

        <button type="submit"
          class="w-full p-[12px] text-[16px] rounded-[15px] text-white transition duration-200 bg-[#c62828] hover:scale-105 active:scale-95">
          Guardar Alterações
        </button>

        <a href="{% url 'perfil' %}"
          class="w-full text-center p-[12px] rounded-[15px] text-[#9c1717] border border-[#9c1717] transition duration-200 hover:bg-[#9c1717] hover:text-white hover:scale-105">
          Voltar
        </a>

      </div>
    </form>

  </div>
</div>

{% endblock %}